@import "../../global.scss";

.menu {
    box-shadow: 3px 5px 5px rgb(184, 182, 182);
    width: 220px;
    height: 100%;
    border-right-width: medium;
    border-right-style: solid;
    border-right-color: $boxcolor;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 1s ease;

    .topLogo {
        background-image: $maincolor;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 30px;
        font-weight: 500px;
    }

    .navigationContainer {
        width: 100%;
        list-style: none;
        font-size: 18px;
        color: #848081;

        .navigation {
            display: flex;
            padding: 6px;
            padding-left: 10%;
            transition: all 0.5s ease;
            border-bottom-width: medium;
            border-bottom-style: solid;
            border-bottom-color: $boxcolor;
            
            a {
                
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                background-color: $prymaricolor;
                border-left-width: 5px;
                border-left-style:solid;
                border-image: $maincolor 1;
                border-bottom-width: medium;
                border-bottom-style: solid;
                border-bottom-color:$boxcolor;
            }
        }
    }
}