@import '../../global.scss';

.header {
    height: 5vw;
    padding-top: 7px;
    padding-bottom: 5px;
    color: black;
    background-color: $prymaricolor;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    @include mobile{
        width: 98vw;
        padding-left: 10px;
        padding-bottom: 15px;
        
     }

    .headerleft {
        font-size: 1vw;
        .subtitleheader {
            font-size: 1vw;
            color: $secundcolor;
        }

        .titleheader {
            color: $secundcolor;
            font-size: 1.5vw;
        }
    }

    .headerrigth {
        display: flex;
        align-items: center;
        font-size: 1.5vw;

        .languageselector {
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 3px;
            border-width: thin;
            border-style: solid;
            border-color: #e7e7e7;
            margin-right: 25px;
            @include mobile{
                width: 10vw;
                height: 6vw;
                padding-left: 2vw;
                font-size: 2vw;
                
             }

            .globo {
                width: 20px;
                @include mobile{
                    opacity:0 ;
                    
                 }
            }
            .selectBox{
                cursor: pointer;
                background-color:inherit;
                border-color: $prymaricolor;

            }


        }

        .bvemail {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 10px;
            color: $secundcolor;
        }
        .facelogin{
            cursor: pointer;
            display: flex;
            
          .face {
            width: 30px;
            border-radius: 100%;
        }  

        .alert{
            font-size: 11px;
            color:white;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 13px;
            width: 13px;
            border-radius: 100%;
            margin-left: -10px;
            margin-top: -3px;

        }
        }

        
    }
}