$maincolor: linear-gradient(to top, #f1823e, #fdaa50);
$textcolor:#ec773a;
$prymaricolor:#fcf1eb;
$secundcolor: #735d5d;
$boxcolor:#e7e7e7;

$width:768px;

@mixin mobile{
    @media(max-width: #{$width}){
        @content
    }
}